<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Console" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="monoandroid80" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="monoandroid80" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="2.4.0.74863" targetFramework="monoandroid80" />
</packages>